ProxyWcfRest/PersonApi/Connected Services/ArizonaPersonServiceProxy/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://triamun.ch/connectic/service/PersonService/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PersonService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                </msf:SslTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="PersonService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <gzip:GZipEncoding xmlns:gzip="http://www.hcisolutions.com/wcf/gzipencoder">
        </gzip:GZipEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:SslTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                </msf:SslTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://triamun.ch/connectic/service/PersonService/" location="" />
  <wsdl:types />
  <wsdl:binding name="PersonService" type="i0:PersonService">
    <wsp:PolicyReference URI="#PersonService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddValidationInsuranceCard">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/AddValidationInsuranceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPatientExist">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/CheckPatientExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPatientVersion">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/CheckPatientVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCoverage">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/DeleteCoverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressVguidById">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetAddressVguidById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFlow">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetDocumentFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLinesBasicInfo">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetDocumentLinesBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCardValidationHistories">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetInsuranceCardValidationHistories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByUniqueId">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatientByUniqueId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatientHistory">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatientHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPhysicianName">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPhysicianName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsTriaScanDocumentPhysicalPatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/IsTriaScanDocumentPhysicalPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LastCoverageUsedDate">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/LastCoverageUsedDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveMergeAddresses">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SaveMergeAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SavePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePatientOmniChannelUuid">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SavePatientOmniChannelUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TriaScanDocumentFound">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/TriaScanDocumentFound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverValidity">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/UpdateCoverValidity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PersonService1" type="i0:PersonService">
    <wsp:PolicyReference URI="#PersonService1_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddValidationInsuranceCard">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/AddValidationInsuranceCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPatientExist">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/CheckPatientExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPatientVersion">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/CheckPatientVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCoverage">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/DeleteCoverage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressVguidById">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetAddressVguidById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentFlow">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetDocumentFlow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLinesBasicInfo">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetDocumentLinesBasicInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInsuranceCardValidationHistories">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetInsuranceCardValidationHistories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByUniqueId">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatientByUniqueId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPatientHistory">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPatientHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPhysicianName">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/GetPhysicianName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsTriaScanDocumentPhysicalPatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/IsTriaScanDocumentPhysicalPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LastCoverageUsedDate">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/LastCoverageUsedDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveMergeAddresses">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SaveMergeAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SavePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SavePatientOmniChannelUuid">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/SavePatientOmniChannelUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TriaScanDocumentFound">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/TriaScanDocumentFound" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionDetailFault">
        <soap12:fault use="literal" name="ExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCoverValidity">
      <soap12:operation soapAction="http://triamun.ch/connectic/service/PersonService/PersonService/UpdateCoverValidity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionDetailFault">
        <soap12:fault use="literal" name="ServiceExceptionDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="PersonService" binding="tns:PersonService">
      <soap12:address location="net.tcp://localhost:33321/Arizona/PersonService/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:33321/Arizona/PersonService/service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>AMA704APS.amavita.ch</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="PersonService1" binding="tns:PersonService1">
      <soap12:address location="net.tcp://localhost:33321/Arizona/PersonService/service.gz" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:33321/Arizona/PersonService/service.gz</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>AMA704APS.amavita.ch</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>