ApiTest/PersonApi/Connected Services/ServiceReferencePerson/Hci.ActivePharmacy.Common.Contracts.Global.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Hci.ActivePharmacy.Common.Contracts.Global" elementFormDefault="qualified" targetNamespace="Hci.ActivePharmacy.Common.Contracts.Global" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
  <xs:complexType name="ServiceExceptionDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" base="q1:ExceptionDetail">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ErrorArguments" nillable="true" type="q2:ArrayOfKeyValueOfstringArrayOfanyTypety7Ep6D1" />
          <xs:element minOccurs="0" name="ErrorDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ErrorName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceExceptionDetail" nillable="true" type="tns:ServiceExceptionDetail" />
</xs:schema>