ApiTest/PersonApi/Connected Services/ServiceReferencePerson/Hci.ActivePharmacy.Common.Contracts.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Contracts.Data" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ExtensibleDataContract">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ExtensibleDataContract" nillable="true" type="tns:ExtensibleDataContract" />
  <xs:complexType name="VersionKeyOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="VersionKeyOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Contracts.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Version" type="tns:VersionValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionKeyOfguid" nillable="true" type="tns:VersionKeyOfguid" />
  <xs:complexType name="VersionValue">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionValue" nillable="true" type="tns:VersionValue" />
  <xs:simpleType name="Language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="German" />
      <xs:enumeration value="French" />
      <xs:enumeration value="Italian" />
      <xs:enumeration value="English" />
      <xs:enumeration value="Keys" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="IdentifiableOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentifiableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Contracts.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExtensibleDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="_id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifiableOfint" nillable="true" type="tns:IdentifiableOfint" />
  <xs:simpleType name="PatientPaymentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="DeliverySlip" />
      <xs:enumeration value="Invoice" />
      <xs:enumeration value="Cash" />
      <xs:enumeration value="Insurance" />
      <xs:enumeration value="CreditNote" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PatientPaymentType" nillable="true" type="tns:PatientPaymentType" />
  <xs:simpleType name="InsuranceInvoiceCopyType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="TicketSlip" />
      <xs:enumeration value="PaperCopy" />
      <xs:enumeration value="DigitalCopy" />
      <xs:enumeration value="RefusalCopy" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InsuranceInvoiceCopyType" nillable="true" type="tns:InsuranceInvoiceCopyType" />
  <xs:complexType name="IdentifiableOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IdentifiableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Contracts.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExtensibleDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="_id" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifiableOfguid" nillable="true" type="tns:IdentifiableOfguid" />
</xs:schema>