ApiTest/MobileServiceTest/Connected Services/MobileServiceReference/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" base="q1:ExtensibleDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="BadgeTagId" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Initials" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OuIds" nillable="true" type="q2:ArrayOfint" />
          <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="PharmacyServerInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" base="q3:ExtensibleDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Language" type="q3:Language" />
          <xs:element minOccurs="0" name="OuCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OuId" type="xs:int" />
          <xs:element minOccurs="0" name="PharmacyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PharmacyType" type="q3:PharmacyType" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PharmacyVersion" nillable="true" type="q4:Version" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PharmacyServerInfo" nillable="true" type="tns:PharmacyServerInfo" />
</xs:schema>