ApiTest/MobileServiceTest/Connected Services/MobileServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://triamun.ch/ActivePharmacy/Common/Mobile/MobileService/" elementFormDefault="qualified" targetNamespace="http://triamun.ch/ActivePharmacy/Common/Mobile/MobileService/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" />
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Stock" />
  <xs:element name="AddExpiryDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="itemExpiryDates" nillable="true" type="q1:ArrayOfTupleOfintintExpiryDate4lts7Mm_S" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpiryDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="AddExpiryDatesResult" nillable="true" type="q2:ArrayOfTupleOfintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="badgeId" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" minOccurs="0" name="BadgeLoginResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuantityOnStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="articleId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="predefinedEntryId" type="xs:int" />
        <xs:element minOccurs="0" name="inStock" type="xs:boolean" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeQuantityOnStockResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpiryDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="expiryDates" nillable="true" type="q4:ArrayOfExpiryDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpiryDatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventoryScanId" type="xs:int" />
        <xs:element minOccurs="0" name="deviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inventoryId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="DeleteScanResult" nillable="true" type="q5:ScanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenInventories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenInventoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOpenInventoriesResult" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyServerInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPharmacyServerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" minOccurs="0" name="GetPharmacyServerInfoResult" nillable="true" type="q7:PharmacyServerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCorrectionTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" minOccurs="0" name="language" type="q8:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockCorrectionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Stock" minOccurs="0" name="GetStockCorrectionTypesResult" nillable="true" type="q9:ArrayOfStockCorrectionType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreasByItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreasByItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Stock" minOccurs="0" name="GetStorageAreasByItemResult" nillable="true" type="q10:ArrayOfStorageArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInventoryItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventoryId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" minOccurs="0" name="language" type="q11:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInventoryItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="LoadInventoryItemsResult" nillable="true" type="q12:ArrayOfInventoryItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Admin" minOccurs="0" name="LoginResult" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpiryDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="expiryDates" nillable="true" type="q14:ArrayOfExpiryDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpiryDatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScans">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inventoryId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="scans" nillable="true" type="q15:ArrayOfScan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="SaveScansResult" nillable="true" type="q16:ArrayOfScanResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchArticles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data" minOccurs="0" name="language" type="q17:Language" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchArticlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hci.ActivePharmacy.Common.Mobile.Contracts.Data.Item" minOccurs="0" name="SearchArticlesResult" nillable="true" type="q18:ArrayOfArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>